modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai:1.0.0", "javascript_log_in_with_replit:1.0.0", "sendgrid:1.0.0", "javascript_object_storage:2.0.0"]

[objectStorage]
defaultBucketID = "replit-objstore-7f82aa1d-19a0-499a-a0e6-fc827cc24b2b"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
SMTP_HOST = "smtpout.secureserver.net"
SMTP_PORT = "465"
SMTP_USER = "support@aiformulator.net"
FROM_EMAIL = "support@aiformulator.net"
CONTACT_RECEIVER_EMAIL = "support@aiformulator.net"
APP_URL = "https://aiformulator.net"
SMTP_PASS = "AiFormulator#2026"
SUPABASE_DATABASE_URL = "postgresql://neondb_owner:npg_fPRW9AQuvkm3@ep-odd-pond-ad2ckoax.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5002
externalPort = 3001
